.product-table
  width: 100%
  padding: 0 28%
  
.product-table__header
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 3px

  *
    padding-left: 3px

  .text
    width: 195.5px

  .select
    width: 162px

.product-table__row
  display: flex
  justify-content: space-between
  align-items: center
  margin-top: 10px
  
  select.form__input, .form__input[type='text'], .form__input[type='number']
    box-shadow: inset 0 0 0 1px #dad8de, 0 0 0 transparent
    background-color: white
    color: #433f4a
    width: 175.5px
    height: 20px
    padding: 5px 10px
    border: none
    border-radius: 0
    font-size: 14px
    line-height: 14px
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none


  select.form__input
    width: 162px
    height: 30px
    cursor: pointer
    background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2012%2012%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20fill%3D%22%23898395%22%3E%3Cpolygon%20points%3D%226%2C1%2010%2C5%202%2C5%22/%3E%20%3Cpolygon%20points%3D%226%2C11%2010%2C7%202%2C7%22/%3E%3C/svg%3E")
    background-repeat: no-repeat
    background-position: right 10px center
    background-size: 14px

.add-product-btn
  background: #6441a4
  color: white
  display: inline-block
  position: relative
  float: right
  width: 103px
  margin-top: 20px
  padding: 0 1rem
  transition: background 0.12s ease-in, color 0.12s ease-in, box-shadow 0.12s ease-in
  font-size: 12px
  font-weight: 400
  line-height: 2rem
  white-space: nowrap
  cursor: pointer